<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	data-layout-decorator="layout/main">
	<head>
		<title>hahaha</title>	
		
		<script language="javascript">
			var nav = "index";
			var subnav;
			
			$(function() {
		        
			});			
		</script>
	</head>

	<body>
		<ul layout:fragment="breadcrumbs" class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">首页</a>
			</li>

			<li>
				<a href="#">应用监控</a>
			</li>
			<li class="active">操作系统监控</li>
		</ul><!-- /.breadcrumb -->
		
		<div layout:fragment="content">
            <!-- PAGE CONTENT BEGINS -->
			<div class="row">
				
			</div>
        </div>
	</body>
</html>
